.iridescence-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.iridescence-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}